.tab-button {
    -fx-background-color: white;
    -fx-text-fill: gray;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-width: 150;
    -fx-padding: 8 0;
    -fx-font-size: 20px; /* Cegah perubahan saat hover */
}
.tab-button:hover {
    -fx-font-size: 20px; /* Cegah perubahan saat hover */
    -fx-background-color: #e8edff;
}


.tab-button:selected {
    -fx-font-size: 20px; /* Cegah perubahan saat hover */
    -fx-background-color: #e8edff;
    -fx-text-fill: #0000ff;
    -fx-border-color: #0000ff;
    -fx-border-width: 0 0 2 0;
}
